html,body{
    height: 100%;
}

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7em;
}

#delete{
    position: absolute;
    display: inline;
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 5%;
}

#describe{
    margin-bottom: 5%;
}
